<h1>About</h1>

<p class="description">

  Passion and determination are my keys to success.  These two factors have lead me on my on-going journey to pursue a career in web development.  There have been many challenges that have delayed my progress.  However, these two factors have been a game changer for me.  It has made me reevaluate my education, experiences, and actions.
</p>
<p class="description">
          My passion and determination led me to the idea of "going back to the basics." By doing so, it has given me a new perspective with core concepts.  It has been a challenging journey but I strongly believe that with passion and determination anything is truly possible. As I pursue my goals, these challenges have made me more strategical  as I approach each challenge.  It has been fun and I eagerly face them head on instead of having fear lead my decisions.
        </p>
<p class="description">
        With passion and determination the sky is the limit.  Push yourself and see what you are capable of.  Never settle for the bear minimum and enjoy what life has to offer.
        </p>



